[submodule "fiveringsdb-data"]
	path = fiveringsdb-data
	url = https://github.com/ringteki/fiveringsdb-data
[submodule "codex.cards"]
	path = codex.cards
	url = https://github.com/sharpobject/codex.cards
